.background {
  background: rgb(52, 166, 251);
  border-spacing: 0;
  table-layout: fixed;
}

.background td {
  padding: 0;
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lava {
  background: rgb(255, 100, 0);
}

.wall {
  background: #ffffff;
}

.actor {
  position: absolute;
}

.coin {
  background: rgb(237, 226, 106);
}

.player {
  background: rgb(65, 65, 65);
}

.lost .player {
  background: rgb(160, 65, 65);
}

.won .player {
  box-shadow: -4px -7px 8px #ffffff, 4px -7px 8px #ffffff;
}
