body {
  font-family: 'Quicksand', sans-serif;
}

html {
  background: #F7F7F7;
}

#board {
  margin: 0 auto;
  display: block;
  border: 2px solid black;
  border-bottom: 5px solid green;
  background: white;
}

.lines,
.score {
  color: #444444;
  display: block;
  margin: 0 auto;
  width: 240px;
  font-size: 1.5em;
}

.lines {
  margin-top: 2em;
}

.score {
  margin-top: 0em;
}

.NewGameBtn {
  background-color: #04202A;
  border: none;
  border-radius: 10px;
  box-shadow: 0 7px #999999;
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  margin: 4px 2px;
  outline: none;
  padding: 8px 12px;
  text-align: center;
}

.NewGameBtn:hover {
  background-color: #4b6d47;
}

.NewGameBtn:active {
  box-shadow: 0 4px #454745;
  transform: translateY(3px);
}
